<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>semantic.recognizer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.html</location>
  </error-page>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <listener>
    <listener-class>semantic.recognizer.startup.AppInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>com.sap.ui5.resource.USE_CACHE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.REMOTE_LOCATION</param-name>
    <param-value>https://sapui5.hana.ondemand.com</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.REMOTE_USE_CACHE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.PREFER_REMOTE_LOCATION</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AnalysisServlet</display-name>
    <servlet-name>AnalysisServlet</servlet-name>
    <servlet-class>semantic.recognizer.analysis.AnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisServlet</servlet-name>
    <url-pattern>/analyzes</url-pattern>
  </servlet-mapping>
</web-app>